/* =============>JUEGO<================ */

/* ===>POSICION IMAGENES<=== */
#imagen1{
    position: relative;
    width: 30%;
}
#imagen2{
    position: relative;
    width: 30%;
}
#imagen3{
    position: relative;
    width: 30%;
}
#imagen4{
    position: relative;
    width: 30%;
}
#imagen5{
    position: relative;
    width: 30%;
}
#imagen6{
    position: relative;
    width: 30%;
}
#imagen7{
    position: relative;
    width: 30%;
}
#imagen8{
    position: relative;
    width: 30%;
}
#imagen9{
    position: relative;
    width: 30%;
}
#imagen10{
    position: relative;
    width: 30%;
}
#imagen11{
    position: relative;
    width: 30%;
}
#imagen12{
    position: relative;
    width: 30%;
}