#imagen1{	
	width: 20%;
	height: auto;
}
#imagen2{
	margin-left: 10%;
	width: 20%;
	height: auto;
}
#imagen3{
	margin-left: 5%;
	width: 20%;
	height: auto;
}

.unidad{
    background-color: rgb(227, 234, 240);
    text-align: center;
    border-radius: 20px;
}

.contenedor{
    position: relative;
    width: 90%;
    left: 5%;
}

h3{
    color: indigo;
}

.img{
    padding: 0.3%;
    text-align: center;
}



