.one, .two, .three{
  position:absolute;
margin-top:-10px;
z-index:1;
height:40px;
width:40px;
border-radius:25px;

}
.one{
left:20%;
}
.two{
left:40%;
}
.three{
left:60%;
}
.four{
  left: 80;
}

.primary-color{
background-color:#007bff;
}
.success-color{
	background-color:#5cb85c;
}
.no-color{
background-color:inherit;
}
