/* =====> PREGUNTAS <===== */
.p1{
    position: relative;
    top: 5px;
    width: 90%;
}

.p2{
    position: relative;
    top: 140px;
    width: 90%;
}

.p3{
    position: relative;
    top: 270px;
    width: 90%;
}

.p4{
    position: relative;
    top: 400px;
    width: 90%;
}

.p5{
    position: relative;
    top: 530px;
    width: 90%;
}

.p6{
    position: relative;
    top: 650px;
    width: 90%;
}

.p7{
    position: relative;
    top: 800px;
    width: 90%;
}

.p8{
    position: relative;
    top: 1000px;
    width: 90%;
}

.p9{
    position: relative;
    top: 1200px;
    width: 90%;
}

.p10{
    position: relative;
    top: 1400px;
    width: 90%;
}

.p11{
    position: relative;
    top: 1600px;
    width: 90%;
}

.p12{
    position: relative;
    top: 1850px;
    width: 90%;
}