
body {
  font-family: Arial, Helvetica, Sans-serif;
  font-size: 150%;
}

.contenido{
	margin-right: 2%;
	margin-left: 2%;
}

#imagen{
	margin-left: 5%;
	width: auto;
	height: auto;
}

#referencia{
	margin-left: 10%;
	font-size: 50%
}

#botonActividad{
	font-family: Arial; 
	font-size: 14pt;
	border-radius: 5%;
	background-color: white;
	color:blue;
	border-color: purple;
	height: 8%;
	width: 15%;
}

#botonEncuesta{
	font-family: Arial; 
	font-size: 14pt;
	border-radius: 5%;
	margin-left: 45%;
	background-color: white;
	color:blue;
	border-color: purple;
	height: 8%;
	width: 15%;
}

#botonRegresar{
	font-family: Arial; font-size: 14pt;
	border-radius: 5%;
	margin-left: 20%;
	background-color: white;
	color:blue;
	border-color: purple;
	height: 8%;
	width: 15%;
}

#botonResultado{
	font-family: Arial; 
	font-size: 14pt;
	border-radius: 5%;
	margin-left: 20%;
	background-color: white;
	color:blue;
	border-color: purple;
	height: 8%;
	width: 15%;
}

#p1-r{
	border-color: blueviolet;
	border-width: thick;
	border-radius: 3%;
}

#p2-r{
	border-color: blueviolet;
	border-width: thick;
	border-radius: 3%;
}

#p3-r{
	border-color: blueviolet;
	border-width: thick;
	border-radius: 3%;
}

#p4-r{
	border-color: blueviolet;
	border-width: thick;
	border-radius: 3%;
}

#p5-r{
	border-color: blueviolet;
	border-width: thick;
	border-radius: 3%;
}