@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap');
.center {
    align-items: center;
}

.center-2 {
    text-align: center;
}

.cl-label {
    color: #666565;
}

.navbar-brand-p {
    margin: 0;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color: black;
}

.space_between {
    margin-right: 5px;
}

.min_ad {
    font-size: small;
    color: blue;
}

.passBad {
    font-size: small;
    color: red;
}

.title {
    background-color: #007bff;
    color: white;
    border-radius: 10px;
    padding: 5px;
}

.icon-self {
    border: 1px solid #007bff;
    border-radius: 10px 0px 0px 10px;
    color: #007bff;
    padding: 5px 10px;
    float: left;
}

.ft {
    float: left;
    padding: 0px;
}

.not-ft {
    clear: both;
}

.wh {
    /* border: 1px solid #007bff; */
    display: inline-block;
    margin: 0px;
}

.formulario {
    /* border: 1px solid #007bff; */
    text-align: center;
}

.title-form {
    background-color: #007bff;
    color: white;
    width: 235px;
    text-align: left;
    border-radius: 8px;
    font-weight: 15px;
    padding: 5px 5px 5px 10px;
}

.mensaje {
    background-color: rgb(84, 179, 84);
    color: white;
    border: 2px solid green;
    /* font-weight: 20px; */
    font-size: 20px;
    border-radius: 10px;
    padding: 8px;
    margin: 5px;
    text-align: center;
}

.option_pdf {
    width: 40%;
    transition: all 0.2s;
}

.option_pdf:hover {
    padding-bottom: 2.5%;
    padding-top: 2.5%;
    width: 35%;
}

.evaluacion_pdf {
    border: 2px solid #0077ff;
    /* background-color: #007bff56; */
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    /* width: 45%; */
}

.evaluacion_grafico {
    border: 2px solid #0077ff;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    /* width: 45%; */
}


/* ----------------------- */

ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 1%;
    /*--Define el ancho de las tabs--*/
    /* border-bottom: 1px solid #408ff5; */
    /* border-left: 1px solid #888888; */
    width: 100%;
    font-size: small;
    /* font-family: ; */
}

ul.tabs li {
    float: left;
    margin: 0;
    padding: 0;
    height: 31px;
    /*--Sustrae 1px de la altura de la lista desordenada--*/
    line-height: 31px;
    /*--Alineamiento vertical del texto dentro de la tabla--*/
    /* border: 1px solid #999; */
    border-left: none;
    margin-bottom: -1px;
    /*--Desplaza los item de la lista abajo 1px--*/
    overflow: hidden;
    position: relative;
    background: #2f7de2;
    border-radius: 10px 10px 0px 0px;
    border: solid 1px #ffffff;
    border-bottom: solid 1px #2f7de2;
    margin-top: 1px;
}

ul.tabs li a {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 1.2em;
    padding: 0 20px;
    /* border-radius: 15px 15px 0px 0px; */
    border: 1px solid #2f7de2;
    width: 63px;
    text-align: center;
}

ul.tabs li a:hover,
html ul.tabs li.active,
html ul.tabs li.active a:hover {
    /*--Estate seguro de que a la tab activa no se le aplicarán estas propiedades hover--*/
    background: #599af0;
    font-weight: bold;
    font-size: 1.16em;
    border: 1px solid #599af0;
    transition: all 0.2s;
    /*--Esto hace que la tab activa esté conectada con respecto a su contenido--*/
}

.tab_container {
    border: 2px solid #408ff5;
    /* border-top: none; */
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
    clear: both;
    float: left;
    width: 100%;
    /* background: #fff; */
}

.tab_content {
    padding: 20px;
    font-size: 1.2em;
}

.hr_1_color,
.hr_7_color {
    border-color: #47c747;
}

.hr_2_color,
.hr_8_color {
    border-color: #c74747;
}

.hr_3_color,
.hr_9_color {
    border-color: #6d47c7;
}

.hr_4_color,
.hr_10_color {
    border-color: #c78f47;
}

.hr_5_color,
.hr_11_color {
    border-color: #4794c7;
}

.hr_6_color,
.hr_12_color {
    border-color: #ad47c7;
}

.m1act,
.m7act {
    -webkit-text-fill-color: #47c747;
    -webkit-text-stroke: 1px #00a700;
}

.m2act,
.m8act {
    -webkit-text-fill-color: #c74747;
    -webkit-text-stroke: 1px #c30000;
}

.m3act,
.m9act {
    -webkit-text-fill-color: #6d47c7;
    -webkit-text-stroke: 1px #3700b8;
}

.m4act,
.m10act {
    -webkit-text-fill-color: #f0b74e;
    -webkit-text-stroke: 1px #e79600;
}

.m5act,
.m11act {
    -webkit-text-fill-color: #4794c7;
    -webkit-text-stroke: 1px #0072be;
}

.m6act,
.m12act {
    -webkit-text-fill-color: #ad47c7;
    -webkit-text-stroke: 1px #9a00c0;
}

.modul-all {
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
}

.modul-1,
.modul-7,
.m1u,
.m7u {
    background-color: #47c747;
}

.modul-2,
.modul-8,
.m2u,
.m8u {
    background-color: #c74747;
}

.modul-3,
.modul-9,
.m3u,
.m9u {
    background-color: #6d47c7;
}

.modul-4,
.modul-10,
.m4u,
.m10u {
    background-color: #f0a314;
}

.modul-5,
.modul-11,
.m5u,
.m11u {
    background-color: #4794c7;
}

.modul-6,
.modul-12,
.m6u,
.m12u {
    background-color: #ad47c7;
}

.m-all-u {
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    width: 150px;
    margin-bottom: 15px;
    height: 40px;
    transition: all 0.2s;
    cursor: pointer;
    border: 1px solid transparent;
}

.m-all-u :hover {
    font-size: 0.9em;
    transition: all 0.2s;
}

.m1u:hover,
.m7u:hover {
    background-color: #73e673;
}

.m2u:hover,
.m8u:hover {
    background-color: #dd6262;
}

.m3u:hover,
.m9u:hover {
    background-color: #8e68e9;
}

.m4u:hover,
.m10u:hover {
    background-color: #e9b961;
}

.m5u:hover,
.m11u:hover {
    background-color: #66b7ee;
}

.m6u:hover,
.m12u:hover {
    background-color: #db69f8;
}

.clr-table {
    background-color: #007bff;
    color: white;
}

.table-border {
    border: #007bff solid 1px;
}

.ct-h {
    text-align: center;
}

.ct-vb {
    padding-bottom: 25px !important;
}

.ct-vt {
    padding-top: 25px !important;
}


/* menu style */

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
    font-size: 2em;
}

.fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}

.main-menu:hover,
nav.main-menu.expanded {
    width: 250px;
    overflow: visible;
}

.main-menu {
    background: #212121;
    border-right: 1px solid #e5e5e5;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 60px;
    overflow: hidden;
    -webkit-transition: width .05s linear;
    transition: width .05s linear;
    -webkit-transform: translateZ(0) scale(1, 1);
    z-index: 1000;
}

.main-menu>ul {
    margin: 7px 0;
}

.main-menu li {
    position: relative;
    display: block;
    width: 250px;
}

.main-menu li>a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #999;
    font-family: arial;
    font-size: 14px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1, 1);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

.main-menu .nav-icon {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

.main-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
    font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
    position: absolute;
    left: 0;
    bottom: 0;
}

.no-touch .scrollable.hover {
    overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y: auto;
    overflow: visible;
}

a:hover,
a:focus {
    text-decoration: none;
}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

nav ul,
nav li {
    outline: 0;
    margin: 0;
    padding: 0;
}

.main-menu li:hover>a,
nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
    color: #fff;
    background-color: #5fa2db;
}

.area {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}


/* nuevo */

.btn-style {
    width: 60px;
    height: 55px;
    background-color: #70B7BA;
    color: white;
    margin: -15px 15px -15px -15px;
    align-items: center;
}

.btn-style:hover {
    color: white;
}


/* inicio style */

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    margin-top: 50px;
    min-height: 50vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}


/*aqui va el contenedor*/

.contenedor {
    overflow-y: scroll;
    width: 1000px;
    height: 500px;
    padding-top: 200px;
    margin: 2rem auto;
    border: 1px solid #aaa;
    box-sizing: border-box;
    padding: 0 1rem;
    padding-bottom: 40px;
}

@media (min-width: 992px) and (max-width:1199px) {
    .contenedor {
        overflow-y: scroll;
        width: auto;
        height: 500px;
        padding-top: 200px;
        margin: 2rem auto;
        border: 1px solid #aaa;
        box-sizing: border-box;
        padding: 0 1rem;
        padding-bottom: 40px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .contenedor {
        overflow-y: scroll;
        width: auto;
        height: 500px;
        padding-top: 200px;
        margin: 2rem auto;
        border: 1px solid #aaa;
        box-sizing: border-box;
        padding: 0 1rem;
        padding-bottom: 40px;
    }
}

@media (max-width: 767px) {
    .contenedor {
        overflow-y: scroll;
        width: auto;
        height: 500px;
        padding-top: 200px;
        margin: 2rem auto;
        border: 1px solid #aaa;
        box-sizing: border-box;
        padding: 0 1rem;
        padding-bottom: 40px;
    }
}


/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.contenedor::-webkit-scrollbar {
    -webkit-appearance: none;
}

.contenedor::-webkit-scrollbar:vertical {
    width: 10px;
}

.contenedor::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
    display: none;
}

.contenedor::-webkit-scrollbar:horizontal {
    height: 10px;
}

.contenedor::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.contenedor::-webkit-scrollbar-track {
    border-radius: 10px;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

@media(min-width: 576px) {}

.bread-style {
    margin-top: 50px;
}

.breadcrumb-item {
    color: black;
}


/* font styles*/

.first_title {
    font-size: 1.6em;
    font-family: 'Anton', sans-serif;
}

.second_title {
    font-size: 1.1em;
    font-family: 'Anton', sans-serif;
}

.final_title {
    margin-top: 20px;
    font-size: 1.2em;
    font-family: 'Anton', sans-serif;
}

.contenido {
    font-size: 0.95em;
    font-family: 'Roboto', sans-serif;
}

.btn_navegacion {
    background-color: #627D05;
    color: #FFFFFF;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    width: 150px;
    height: 40px;
}

.btn_navegacion:hover {
    color: #E7E1D4;
}

.final_contenido {
    font-size: 0.95em;
    font-family: 'Roboto', sans-serif;
    padding-left: 20px;
}

.subtitle {
    font-size: 1.2em;
    font-family: 'Anton', sans-serif;
}


/*fin fuentes*/

.fa-info-circle {
    font-size: 90px;
    color: #188D8F;
}

<<<<<<< HEAD
.total {
    width: 900px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
=======
.total{
    width: 100% !important;
    margin-left:auto;
    margin-right:auto;
>>>>>>> cce934eac5e4d7bf76b66d4fb0b946114b797ba3
}

.noticia {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    align-self: center;
}

.info-icon {
    padding-left: 30px;
    padding-right: 10px;
}

.btn-arrow {
    margin-top: 50px;
}


/*perfil*/

.first_title_profile {
    font-size: 1.4em;
    font-family: 'Anton', sans-serif;
}

.sub_profile {
    font-size: 1.2em;
    font-family: 'Anton', sans-serif;
    text-align: left;
}

.contenido_profile,
#body {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}

.btn_navegacion_profile {
    background-color: #627D05;
    color: #FFFFFF;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    width: 120px;
    height: 50px;
}


/* nav */

.nav-color {
    background-color: #023859;
    border-bottom: 2px;
}

.btn-inicio {
    background-color: #627D05;
    color: #FFFFFF;
    padding-top: 2px;
    padding-bottom: 0;
    height: 30px;
    width: 150px;
    font-size: 1em;
    margin-top: 25px;
    margin-right: 50px;
}

.btn-inicio:hover {
    color: #FFFFFF;
}

.btn-principal {
    background-color: #627D05;
    color: #FFFFFF;
    padding-top: 2px;
    padding-bottom: 0;
    height: 30px;
    width: 150px;
    font-size: 1em;
    margin-top: 15px;
    margin-right: 25px;
}

.btn-principal:hover {
    color: #FFFFFF;
}

.far {
    font-size: 20px;
    margin-bottom: auto;
    color: #FFFFFF;
}

h3.title_welcome {
    font-size: 15px;
    color: white;
}

.bienvenido {
    margin-right: 30px;
    padding-right: 0px;
}

.name_drop {
    margin-top: -25px !important;
    margin-left: 30px;
    color: #FFFFFF;
}

.brand-title {
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif;
    margin-left: 15px;
    font-weight: 600;
}

#book {
    color: #8AB206;
    font-size: 25px;
}


/*ev un2*/

#just-left {
    text-align: left;
}

.subtitle_1 {
    font-size: 1.3em;
    font-family: 'Anton', sans-serif;
    text-align: left;
}


/*ac5 ud2*/

.par_jus {
    text-align: left;
}


/*ac4 ud2*/

.subt {
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-weight: 700;
}

.parf {
    text-align: left;
}


/*ud3 act1*/

.title_text {
    font-size: 1.1em;
    font-family: 'Anton', sans-serif;
}


/*eval*/

.subtEv {
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}


/*btn validar */

.btn_navegacion_validacion {
    margin-top: 40px;
    background-color: #105963;
    color: #FFFFFF !important;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    width: 90px;
    height: 40px;
}

<<<<<<< HEAD
#table_container {
    margin-left: 50px;
    margin-right: 50px;
=======
#table_container{
    margin-left:50px;
    margin-right:50px;
}

blockquote{
    margin-block-start: 1em !important;
    margin-block-end: 1em !important;
    margin-inline-start: 40px !important;
    margin-inline-end: 40px !important;
    text-align: justify;
}

.titImg{
    font-size: 0.8em !important;
>>>>>>> cce934eac5e4d7bf76b66d4fb0b946114b797ba3
}