#parte1{
    display: block;
}
<<<<<<< HEAD

#sig{
    display: inline-block;
}
#ant,#parte2, #parte3{
    display: none;
}
.mg-5{
    margin: 5px;
=======
#parte2{
    display: none;
}
#parte3{
    display: none;
}

#sig{
    display: block;
}

#ant{
    display: none;
>>>>>>> 2ef1147925e598054693ff02b58bf2938d33532c
}