.noti{
    width: 100%;
    border: 1px solid black;
}
#parte1{
    display: block;
}
#parte2{
    display: none;
}
#parte3{
    display: none;
}
#parte4{
    display: none;
}

/* Crucigrama */
.crossword{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    margin-top: 0px;
    margin-bottom: 10pt;
}
.crossword td {
    border: 1px solid black;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 24px;
    height: 24px;
}
td {
    display: table-cell;
    vertical-align: inherit;
}
.cuadro{
    height: 30%;
    width: 30%;
}
.crossword .nb {
    border: none;
    position: relative;
}
.n {
    position: absolute;
    font-size: 8pt;
    margin: 0px 0px 0px 0px;
    line-height: 8pt;
    font-weight: bold;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.od {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}
input{
    width: 24px; 
    text-transform:lowercase;
    text-align: center;
}

.auto > input{
    width: auto; 
}
.green{
    background: lightgreen;
}
.red{
    background: lightcoral;
}